.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-primary);
}

.spinner {
  margin-top: 60px;
  width: 120px !important;
  height: 120px !important;
}
.spinner svg {
  width: 120px !important;
  height: 120px !important;
  max-width: max-content;
  color: rgb(144, 202, 249) !important;
}