.logo-wrapper {
  grid-area: logo;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid hsl(0deg 0% 80% / 0.5);
  
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.6);
}

.logo {
  right: 4px;
  width: 150px;
  cursor: pointer;
}

.menu {
  display: none;
  color: var(--light-primary);
  cursor: pointer;
}

.modal-menu {
  display: none !important;
}

@media(max-width: 1100px) {
  .menu {
    display: none !important;
  }

  .modal-menu {
    display: revert !important;
    color: var(--light-primary);
    cursor: pointer;
  }
}

@media (max-width: 680px) {
  .logo-wrapper {
   display: none;
  }
}