.logo-wrapper {
  grid-area: logo;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  box-shadow: 0px 0px 8px 8px rgb(64, 64, 70);
  ;
  background-color: var(--dark-primary);
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  z-index: 1;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.menu {
  display: none;
  color: #E50914;
  cursor: pointer;
}

.modal-menu {
  display: none !important;
}

@media(max-width: 1100px) {
  .logo {
    margin-right: 4px;
  }

  .menu {
    display: none !important;
  }

  .modal-menu {
    display: revert !important;
    color: #E50914;
    cursor: pointer;
  }
}

@media (max-width: 680px) {
  .logo-wrapper {
   display: none;
  }
}